.formContainer {
  display: flex;
  flex-direction: column;
}

.formItem {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.85);
}

.labelWithTooltip {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
